:root {
  --colors-primary: #1b1b1b;
  --colors-background: #f1f1f1;
  --fontSizes-1: 13px;
  --fontSizes-2: 15px;
  --fontSizes-3: 17px;
}

/* fonts */
@font-face {
  font-family: "PPMondwest-Regular";
  src: url("fonts/PPMondwest-Regular.woff2") format(woff2),
    url("fonts/PPMondwest-Regular.woff") format(woff);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "PPNeueBit-Bold";
  src: url("fonts/PPNeueBit-Bold.woff2") format(woff2),
    url("fonts/PPNeueBit-Bold.woff") format(woff);
  font-weight: bold;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "PPNeueBit-Bold";
}

/* body */

html,
body {
  font-family: "PPNeueBit-Bold";
}

a {
  color: var(--colors-primary);
  text-decoration: none;
}

p {
  font-family: "PPMondwest-Regular";
  font-size: 1.25rem;
}

main {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 0;
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content__img {
  max-width: 25%;
  /* height: ; */
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media screen and (min-width: 50em) {
  .content {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  height: 100vh;
  min-height: 100vh;
  background: var(--colors-background);
}

.container#dark {
  background: var(--colors-primary);
}

/* nav */
nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  text-transform: uppercase;
  z-index: 1000000 !important;
}

nav#light a {
  color: var(--colors-background);
  font-weight: normal;
}

nav .nav-links {
  display: flex;
}

nav .nav-logo .nav-link,
nav .nav-links .nav-link {
  padding: 1rem;
}

nav .nav-logo {
  font-size: 4rem;
}

/* header */
header {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.name {
  font-family: "PPNeueBit-Bold";
  font-size: 3.575rem;
}

header #name {
  font-size: 3.575rem;
}

.profil {
  max-width: 40vh;
  padding: 20px;
  border-radius: 20px;
}

/* about */
section.about {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  padding-left: 15%;
  padding-right: 15%;
}

section.about .about-col p {
  color: var(--colors-background);
  margin-bottom: 2rem;
}

@media (max-width: 900px) {
  section.about {
    gap: 0;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
  }

  section.about .about-col p {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}

.profil_about {
  width: 100%;
}

/* cases */
section.cases {
  width: 100%;
  padding-top: 8rem;
  color: var(--colors-background);
}

section.cases .case {
  width: 100%;
  padding: 0.05rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid var(--colors-background);
}

section.cases .case#final-case {
  border-bottom: 1px solid var(--colors-background);
}

section.cases .case > div {
  padding: 1rem;
  flex: 2;
}

section.cases .case .case-category {
  flex: 1;
  text-transform: uppercase;
  padding-left: 6%;
}

section.cases .case .case-icon {
  flex: 1;
}

section.cases .case .case-icon .case-icon-img {
  width: 100px;
  height: 100px;
  background: var(--colors-background);
  border-radius: 2rem;
}

section.cases .case .case-name {
  flex: 9;
  font-family: "PPMondwest-Regular";
  font-size: 4rem;
}

section.cases .case .case-year .case-info {
  font-family: "PPNeueBit-Bold";
  font-size: 1rem;
  max-width: 5rem;
  text-align: right;
}

@media (max-width: 900px) {
  section.cases .case .case-year .case-info {
    font-size: 1.5rem; /* Larger font size for wider screens */
  }
  section.cases .case .case-category {
    font-size: 0.75rem;
  }

  section.cases .case .case-year {
    display: none;
  }

  section.cases .case .case-icon .case-icon-img {
    width: 40px;
    height: 40px;
    border-radius: 0.5rem;
  }

  section.cases .case .case-name {
    font-size: 2rem;
  }
}

/* footer */
footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 2rem;
  box-sizing: border-box;
}

footer .footer-col {
  flex: 1;
  text-align: center;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-all;
  hyphens: none;
}

footer#relative {
  padding: calc(0.5rem + 1vw) calc(1rem + 2vw);
  position: relative;
}

footer .footer-col p {
  font-size: 1.125rem;
}

footer#light p {
  color: var(--colors-background);
}

#project-1 {
  background: url("./images/bhah.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-2 {
  background: url("./images/bon_fromage.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-3 {
  background: url("./images/jonathan_schou.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-4 {
  background: url("./images/bolo_poster.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-5 {
  background: url("./images/foramic.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-6 {
  background: url("./images/vicarage.webp") no-repeat 50% 50%;
  background-size: cover;
}

#project-7 {
  background: url("./images/07.png") no-repeat 50% 50%;
  background-size: cover;
}

#project-8 {
  background: url("./images/08.png") no-repeat 50% 50%;
  background-size: cover;
}

/* General styles for smaller screens */
@media (max-width: 900px) {
  * {
    font-size: 0.875rem; /* Reduce font size for smaller screens */
  }

  /* Adjust specific elements for smaller screens */
  nav .nav-logo {
    font-size: 2.5rem; /* Reduce font size for smaller screens */
  }

  header {
    font-size: 2.575rem; /* Reduce font size for smaller screens */
  }

  .name {
    font-size: 2.575rem; /* Reduce font size for smaller screens */
  }

  section.about {
    padding-left: 5%;
    padding-right: 5%;
  }

  section.about .about-col p {
    font-size: 0.8rem; /* Reduce font size for smaller screens */
  }

  section.cases .case .case-category {
    font-size: 0.6rem; /* Reduce font size for smaller screens */
  }

  section.cases .case .case-year .case-info {
    font-size: 1rem; /* Increase font size for smaller screens */
  }

  section.cases .case .case-year {
    display: block; /* Show the year for smaller screens */
  }

  footer .footer-col p {
    font-size: 0.875rem; /* Reduce font size for smaller screens */
  }
}
